body {
font-family: Nunito, Arial, serif;
font-size: 1rem;
line-height: 1.5rem;
margin: 0 auto;
padding: 0;
width: 100%;
color: #163152;
background-color: #212529;
}

/* header */

.header {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  background-color: #6f42c1;
  display: flex;
  justify-content: center;
  position: fixed;
}

.header__container {
  width: 75%;
}

.menu-list {
  display: flex;
  justify-content: start;
  gap: 45px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  text-transform: uppercase;
}

.menu-link {
  text-decoration: none;
  color: #dddddd;
  transition: all 0.3s ease-in-out;
}

.menu-link:hover {
  color: #ffffff;
}

/* main */

/*

 background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%), radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);}

 */

.main {
  padding: 100px 0;
  width: 100%;
}

.about-me {
    display: flex;
    padding: 45px 45px;
    background-color: #abcef8;
}

.ava {
    width: 250px;
    margin-right: 100px; 
}

.avatar {
    border-radius: 50%;
}

.page-title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
}

.main-section {
    display: flex;
}

h2 {
    font-size: 28px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.left-side-main {
    width: 400px;
    background-color: #abcef8;
}

.contact-link {
    color: #000000;
}

.contact-link:hover {
    color: #917474
}

.contacts, .education, .skills, .lang, .achiev {
    border-top: 1px solid #ffffff;
    padding-left: 30px;
    padding-bottom: 25px;
}

.contacts-list, .education-list, .skill-list, .lang-list, .achiev-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contact-link, .contact-id, .edu-course, .skill, .language, .achievement {
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
}

.contact-source, .edu-details, .skill-lvl, .lang-lvl, .achiev-date {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}

.contacts-item, .education-item, .skills-item, .lang-item, .achiev-item {
    padding-bottom: 10px;
}

.right-side-main {
    width: 700px;
    padding: 0 45px;
    border-right: 1px solid #abcef8;
}

.work {
    border-bottom: 1px solid #abcef8;
}

.work-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.position {
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
}

.position-flex {
    display: flex;
}

.position-details {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 0;
}

.position-duty-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.projects {
    border-bottom: 1px solid #abcef8;
}

.projects-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

figure {
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
}

.project-img {
    border: 1px solid #abcef8;
}

.projects-descr {
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
    padding-top: 10px;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #6f42c1;
  padding: 20px 0;
  margin: 0;
}

.footer__container {
  width: 75%; 
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.copyright {
  margin: 0;
  padding: 0;
  margin-left: 45px;
  color: #dddddd;
}

.footer-link {
    text-decoration: none;
    color: #6ea8fe;
    transition: all 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    color: #ffffff;
  }

.logo {
  margin-right: 45px;
}