body {
font-family: Roboto, Arial, serif;
font-size: 14px;
line-height: 24px;
margin: 0 auto;
padding: 0;
width: 1100px;
color: #163152;
}

/* header */

.header {
    margin: 40px 0 0;
    padding: 20px 0;
    background-color: lightblue;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    text-transform: uppercase;
}

.menu-link {
    text-decoration: none;
    color: #000000;
}

.menu-link:hover {
    color: #917474
}

/* main */

.main {
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
}

.about-me {
    display: flex;
    padding: 45px 45px;
    background-color: #abcef8;
}

.ava {
    width: 250px;
    margin-right: 100px; 
}

.avatar {
    border-radius: 50%;
}

.page-title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
}

.main-section {
    display: flex;
}

h2 {
    font-size: 28px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.left-side-main {
    width: 400px;
    background-color: #abcef8;
}

.contact-link {
    color: #000000;
}

.contact-link:hover {
    color: #917474
}

.contacts, .education, .skills, .lang, .achiev {
    border-top: 1px solid #ffffff;
    padding-left: 30px;
    padding-bottom: 25px;
}

.contacts-list, .education-list, .skill-list, .lang-list, .achiev-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contact-link, .contact-id, .edu-course, .skill, .language, .achievement {
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
}

.contact-source, .edu-details, .skill-lvl, .lang-lvl, .achiev-date {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}

.contacts-item, .education-item, .skills-item, .lang-item, .achiev-item {
    padding-bottom: 10px;
}

.right-side-main {
    width: 700px;
    padding: 0 45px;
    border-right: 1px solid #abcef8;
}

.work {
    border-bottom: 1px solid #abcef8;
}

.work-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.position {
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
}

.position-flex {
    display: flex;
}

.position-details {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 0;
}

.position-duty-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.projects {
    border-bottom: 1px solid #abcef8;
}

.projects-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

figure {
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
}

.project-img {
    border: 1px solid #abcef8;
}

.projects-descr {
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
    padding-top: 10px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #abcef8;
    border-top: 1px solid #ffffff;
    height: 75px;
}

.copyright {
    margin: 0;
    padding: 0;
    margin-left: 45px;
}

.logo {
    margin-right: 45px;
}